<p>
   <%= locals.user.name; %>
   <% console.log('helo'); %>
   <% console.log(user.name); %>
</p>

<div id="classroom-container">
   <ul>
     <% for(classroom of classrooms){ %>
       <li>
         <%= classroom.name %>
         <small>
           <%= classroom.teacher %>
         </small>
       </li>

       <%} %>
   </ul>
 </div>
</div>