
* {
    box-sizing: border-box;}
  input[type=text], select
  {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #101312;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #3195e7;
  }
  
  .join-classroom-form-container {
    display:none;
    background-color:rgba(0, 0, 0, 0.657);
    position:absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    left: 0.1px;
    top: 2px;
  }
  .join-classroom-container{
    position:absolute;
    z-index: 3;
    box-shadow: 2px 2px 10px 3px #999;
    margin-top: 16rem;
    margin-left: 35%;
    width:30vw;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #join h3{
    display: inline;
    margin-right: 18rem;
  }
  #join i{
    cursor: pointer;
  }